<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Hi <%= @listener.first_name %> </h3> 
    <br>
    Please click on this shorten link <%= @shorten_link %>
    <br>
  </body>
</html>
