<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b> Hi. <%= @email[:listener_firstname] %> <%= @email[:listener_lastname] %> needs your help. <%= @email[:question] %> </b>
    <br>
    Pls reply by clicking this link: <%= @shorten_link %>
    <br>
  </body>
</html>
